html {
  box-sizing: border-box;
  --background: "hsl(0, 0%, 98%)";
  --elements: "hsl(0, 0%, 100%)";
  --text: "hsl(200, 15%, 8%)";
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background);
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
    background-color: var(--background);
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
    background-color: var(--background);
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
    background-color: var(--background);
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
    background-color: var(--background);
  }
}

@media (min-width: 1400px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1340px;
    background-color: var(--background);
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  background-color: var(--background);
}

#app {
  height: 100vh;
}
#app > div {
  height: inherit;
}
.header {
  font-weight: 300;
  display: flex;
  padding: 20px;
  -webkit-box-shadow: 9px -4px 14px 4px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 9px -4px 14px 4px rgba(0, 0, 0, 0.44);
  box-shadow: 9px -4px 14px 4px rgba(0, 0, 0, 0.44);
  border-bottom: 1px solid var(--elements);
  justify-content: space-around;
  background-color: var(--elements);
}

.header h1 {
  font-size: 1.1rem;
  color: var(--text);
}

.mode {
  border: none;
  margin-left: 0px;
  cursor: pointer;
  background-color: var(--elements);
}

.mode-label {
  margin-left: 5px;
  background-color: var(--elements);
  color: var(--text);
}

.icon-moon-o,
.icon-sun {
  margin-right: 5px;
  color: var(--text);
}

main {
  margin: 0 auto;
  padding: 40px 0;
  height: inherit;
}

.action {
  display: flex;
  justify-content: space-between;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.icon-search {
  position: relative;
  bottom: 27px;
  color: var(--text);
  margin-left: 10px;
}

.input {
  padding: 10px;
  padding-left: 35px;
  display: block;
  width: 35%;
  margin-bottom: 0px;
  border-radius: 5px;
  border: none;
  background-color: var(--elements);
  -webkit-box-shadow: 1px -2px 7px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px -2px 7px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px -2px 7px 1px rgba(0, 0, 0, 0.2);
}

input[text],
input[placeholder] {
  color: var(--text);
}

.select-country {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;

  border: none;
  color: var(--text);
  background-color: var(--elements);
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 6px 6px;
  display: block;
  border-radius: 5px;
  -webkit-box-shadow: 1px -2px 7px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px -2px 7px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px -2px 7px 1px rgba(0, 0, 0, 0.2);
}

.output {
  background-color: var(--background);
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.output li {
  height: 310px;
  width: 300px;
  -webkit-box-shadow: 1px 1px 2px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 2px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 12px -2px rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
  background-color: var(--elements);
  color: var(--text);
  padding-bottom: 55px;
  list-style-type: none;
  border-radius: 8px;
}

main span,
.country-label {
  font-weight: 600;
}
a {
  cursor: pointer;
}

a:hover {
  color: grey;
}

.info {
  padding-left: 20px;
  padding-bottom: 15px;
}

.flag {
  height: 200px;
  width: 100%;
}

.flag-img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

@media only screen and (max-width: 700px) {
  .input {
    width: 90%;
  }

  .select {
    width: 70%;
  }
  .select-country {
    width: 330px;
  }

  .chevron {
    top: 17px;
    right: 22px;
  }

  .action {
    flex-direction: column;
    display: flex;
  }
}
